#menu {
    transform: translateX(-100%);
    margin-left: 35px;
    transition: 0.5s;
    
}

#menu-button{
    width: 10%;   
    transform: rotate(0deg);
    transition: 0.5s;
    
}
#sidebar{
    position: absolute;
    left: 0;
    top: 0;
}

